Selene.Backend/bin/Debug/Selene.Backend.dll
Selene.Backend/bin/Debug/Selene.Backend.dll.mdb
Selene.Gtk/bin/Debug/Selene.Backend.dll
Selene.Gtk/bin/Debug/Selene.Backend.dll.mdb
Selene.Gtk/bin/Debug/Selene.Frontend.Gtk.dll
Selene.Gtk/bin/Debug/Selene.Frontend.Gtk.dll.mdb
Selene.Qyoto/bin/Debug/Selene.Backend.dll
Selene.Qyoto/bin/Debug/Selene.Backend.dll.mdb
Selene.Qyoto/bin/Debug/Selene.Qyoto.dll
Selene.Qyoto/bin/Debug/Selene.Qyoto.dll.mdb
Selene.Testing/.Main~.cs
Selene.Testing/bin/Debug/Selene.Backend.dll
Selene.Testing/bin/Debug/Selene.Backend.dll.mdb
Selene.Testing/bin/Debug/Selene.Frontend.Gtk.dll
Selene.Testing/bin/Debug/Selene.Frontend.Gtk.dll.mdb
Selene.Testing/bin/Debug/Selene.Qyoto.dll
Selene.Testing/bin/Debug/Selene.Qyoto.dll.mdb
Selene.Testing/bin/Debug/Selene.Testing.exe
Selene.Testing/bin/Debug/Selene.Testing.exe.mdb
Selene.Testing/bin/Debug/person.xml
