Selene.Backend/bin/
Selene.Gtk/bin/
Selene.Qyoto/bin/
Selene.Testing/bin/
Selene.Backend/Selene.Backend.pidb
Selene.Gtk/Selene.Gtk.pidb
Selene.Qyoto/Selene.Qyoto.pidb
Selene.Testing/Selene.Testing.pidb
Selene.Testing/test-results
Selene.userprefs
test-results
